<div class="position-absolute top-50 start-50 translate-middle shadow-lg p-3 mb-5 rounded">

    <div class="mb-3" style="max-width: 540px;">
        <div class="row g-0">

            <div class="col-md-12">

                <div class="form-color">

                    <form (ngSubmit)="validateCredentials()">

                        <p class="fs-3 text-center color-text">Registrarse</p>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Nombre" placeholder="nombre" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
                            <label for="Nombre text-primary">Nombre</label>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!nameNull">
                                Debes ingresar un nombre
                            </div>
                            
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="Correo" placeholder="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                            <label for="Correo">Correo</label>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!emailNull">
                                Debes ingresar un correo
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="fechanacimiento" placeholder="fecha_nacimiento" [(ngModel)]="user.birthYear" [ngModelOptions]="{standalone: true}">
                            <label for="Correo">Fecha de nacimiento</label>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!dateNull">
                                Ingresa una fecha de nacimiento
                            </div>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!isAdult">
                                Debes ser mayor a 18 años para acceder al sitio
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="Contraseña" placeholder="pass" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
                            <label for="Contraseña" class="d-block" >Contraseña</label>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!passNull">
                                Debes ingresar una contraseña
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confpass" placeholder="pass" [(ngModel)]="user.confpassword" [ngModelOptions]="{standalone: true}">
                            <label for="confpass" class="d-block truncate-te" >Confirmar contraseña</label>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!confpassNull">
                                Debes ingresar de nuevo la contraseña
                            </div>
                            <div class="alert alert-warning mt-2" role="alert" *ngIf="!samePass">
                                Las contraseñas no coinciden
                            </div>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-outline-light btn-login text-uppercase fw-bold" type="submit">Crear cuenta</button>
                          </div>

                        <p class="mt-3 color-text">¿Ya tienes una cuenta? <a class="link" href="login">Inicia sesión</a></p>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>