<!-- VOLUNTARIADOS -->
<div class="row mt-4">
    <h4 id="voluntariados">Voluntariados</h4>
    <div class="col-md-4 mt-3" *ngFor="let voluntariado of voluntariados">
        <div class="card file">
            <img src="../../assets/producto.png" class="card-img-top">
            <div class="card-body">
                <p class="card-text text-center">{{voluntariado.nombre}}</p>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus
                    tempore autem, veniam odio numquam ea reprehenderit natus! Non eaque laudantium praesentium autem
                    debitis deleniti omnis exercitationem! Asperiores, maxime itaque.</p>
            </div>
        </div>

    </div>

</div>