:root {
    --primary-color: #063940;
    --secondary-color: #195e63;
    --tertiary-color: #3e838c;
    --quaternary-color: #8ebdb6;
    --text-color: #ece1c3;
    /*https://paletadecolores.com.mx/paleta/063940/195e63/3e838c/8ebdb6/ece1c3/*/
  }

.body-color{
    background-color: var(--primary-color);
}

.color-text{
  color: var(--text-color)
}

.background-cards{
  background-color: var(--tertiary-color);
}

.category{
  background-color: #fff;
}
