.color-text{
    color: var(--text-color)
}

.form-color{
    background-color: var(--tertiary-color);
    padding: 3rem;
}

.link{
    text-decoration: none;
    color: var(--text-color)
}

.input-color{
    background-color: var(--tertiary-color);
}

@media (max-width: 576px) {
    .form-floating label {
        font-size: 12px;
    }
}