<app-user-nav></app-user-nav>
<div class="col-lg-9 offset-lg-2 p-5">
    <app-info-product></app-info-product>
    <div class="d-grid gap-2 offset-lg-2">
        <button *ngIf="stateProduct==2" class="btn btn-success" type="button" (click)="purchase()">Comprar</button>
        <!-- <button class="btn btn-primary" type="button">Button</button> -->
        <form *ngIf="stateProduct==2">

            <div class="mb-3">
                <h3 class="color-text mt-4 mb-3">¿Hay algo mal con la publicación?</h3>
                <label class="form-label color-text">Categorias</label>
                <form [formGroup]="form" class="category">
                    <ng-multiselect-dropdown formControlName="category" [placeholder]="'Seleccionar categorias'"
                        [settings]="dropdownSettings" [data]="dropdownList">
                    </ng-multiselect-dropdown>
                </form>
            </div>
            <button *ngIf="stateProduct==2" class="btn btn-danger" type="button" (click)="report()">Reportar</button>
        </form>
    </div>


</div>