nav{
    background-color: var(--tertiary-color);
}

a{
    color: var(--text-color);
    cursor: pointer;
}

ul li{
    color: var(--text-color);
    cursor: pointer;
}

ul{
    background-color: var(--secondary-color);
}

.nav-bar {
    background-color: var(--tertiary-color);
}

.nav-bar ul{
    background-color: var(--tertiary-color);
}

.navColor{
    background-color: var(--tertiary-color);
}