<nav class="navbar sticky-top navbar-expand-lg nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">OnmiMercado</a>
        <div class="btn-group dropstart">
            
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="rounded-circle" [src]="getEncodedImageSource()" alt="FotoPerfil" width="30" height="28">
            </button>
            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="/perfil-admin">{{loginService.getName()}}</a></li>
                <li><a class="dropdown-item" (click)="logOut()">Cerrar sesión</a></li>              
            </ul>
          </div>
    </div>
</nav>




