<nav class="navbar sticky-top navbar-expand-lg nav">
  <div class="container-fluid">
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand me-auto" href="/admin">OnmiMercado</a>
    <div class="btn-group dropstart">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle" [src]="getEncodedImageSource()" alt="FotoPerfil" width="30" height="28">
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/perfil-admin">{{loginService.getName()}}</a></li>
        <li><a class="dropdown-item" (click)="logOut()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start navColor" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <h4 class="text-center mb-4 color-text">Adminstración</h4>
      <a href="/crear-administrativo">Crear administrador</a><br><br>
      <h4 class="text-center mb-4 color-text">Aprobación</h4>
      <a href="/aprobacion-productos">Aprobacion de publicaciones</a><br><br>
      <a href="/aprobacion-intercambios">Aprobacion de intercambios</a><br><br>
      <a href="/aprobacion-voluntariados">Aprobacion de voluntariados</a><br><br>
      <h4 class="text-center mb-4 color-text">Reportes</h4>
      <a href="/reportes-productos">Reportes de publicaciones</a><br><br>
      <a href="/reportes-intercambios">Reportes de intercambios</a><br><br>
      <a href="/reportes-voluntariados">Reportes de voluntariados</a><br><br>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegación izquierda -->
    <div class="col-lg-2 d-none d-lg-block position-fixed vh-100 p-3 nav-bar">
      <h4 class="text-center mb-4 color-text">Adminstración</h4>
      <a href="/crear-administrativo">Crear administrador</a><br><br>
      <h4 class="text-center mb-4 color-text">Aprobación</h4>
      <a href="/aprobacion-productos">Aprobacion de publicaciones</a><br><br>
      <a href="/aprobacion-intercambios">Aprobacion de intercambios</a><br><br>
      <a href="/aprobacion-voluntariados">Aprobacion de voluntariados</a><br><br>
      <h4 class="text-center mb-4 color-text">Reportes</h4>
      <a href="/reportes-productos">Reportes de publicaciones</a><br><br>
      <a href="/reportes-intercambios">Reportes de intercambios</a><br><br>
      <a href="/reportes-voluntariados">Reportes de voluntariados</a><br><br>
      
    </div>

  </div>
</div>