<div class="container mt-3">

  <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
       
    <!-- PRODUCTOS -->

    <div class="row mt-1 ">
        <h4 id="ventas">Ventas</h4>
        <div class="col-md-4 mt-3" *ngFor="let producto of productos">
        
            <div class="card file">        
                <img src="../../assets/producto.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">{{producto.nombre}}</p>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus tempore autem, veniam odio numquam ea reprehenderit natus! Non eaque laudantium praesentium autem debitis deleniti omnis exercitationem! Asperiores, maxime itaque.</p>
                </div>
            </div>
        
        </div>
        
        </div>
    
    <!-- VOLUNTARIADOS -->
    <div class="row mt-4">
        <h4 id="voluntariados">Voluntariados</h4>
        <div class="col-md-4 mt-3" *ngFor="let producto of productos">    
            <div class="card file">        
                <img src="../../assets/producto.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">{{producto.nombre}}</p>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus tempore autem, veniam odio numquam ea reprehenderit natus! Non eaque laudantium praesentium autem debitis deleniti omnis exercitationem! Asperiores, maxime itaque.</p>
                </div>
            </div>
        
        </div>
        
        </div>
    
  </div>

</div>