<app-admin-nav></app-admin-nav>
<div class="col-lg-10 offset-lg-2 p-5">
    <h2 class="color-text text-center mb-4">Información aprobaciones</h2>
    <div class="row">
        <div class="col-md-6 mt-3"> <!-- Columna para la segunda tarjeta -->
            <div class="card mb-3 background-cards">
                <div class="card-body">
                    <h3 class="card-title color-text">Voluntariados pendientes de aprobación</h3>
                    <p class="card-text mb-0 fs-1 ">
                        42
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3"> <!-- Columna para la segunda tarjeta -->
            <div class="card mb-3 background-cards">
                <div class="card-body">
                    <h3 class="card-title color-text">Intercambios pendientes de aprobación</h3>
                    <p class="card-text mb-0 fs-1">
                        42
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3 "> <!-- Columna para la segunda tarjeta -->
                <div class="card mb-3 background-cards">
                    <div class="card-body">
                        <h3 class="card-title color-text">Productos pendientes de aprobación</h3>
                        <p class="card-text mb-0 fs-1">
                            45
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="color-text text-center mb-4 mt-4">Información usuarios</h2>

</div>
