<app-user-nav></app-user-nav>
<div class="col-lg-9 offset-lg-2 p-5">
  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let product of products">
      <div class="card mb-3" [ngClass]="{
        'background-cards bg-primary-subtle': product.id_estado_producto === 1,
        'background-cards bg-success-subtle': product.id_estado_producto === 2,
        'background-cards bg-warning-subtle': product.id_estado_producto === 3,
      }">
        <img [src]="'data:image/' + product.images.type + ';base64,' + product.images.image"
          class="img-card card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.titulo}}</h5>
          <p class="card-text mb-0"><small class="text-body-secondary">ML: {{product.precio_moneda_local}}</small></p>
          <p class="card-text mb-0"><small class="text-body-secondary">MV: {{product.precio_moneda_virtual}}</small></p>
          <p class="card-text mb-0"><small class="text-body-secondary">{{product.fecha_publicacion}}</small></p>
        </div>
      </div>
    </div>
  </div>